.mainContainer {
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.budgetContainer {
    min-width: 75%;
    padding-right: 1rem;
}
.infoContainer {
    min-width: 25%;
}

.paperForm {
    padding: 1rem 2rem 1rem 2rem;
}

.budgetButton {
    margin-top: 0.5rem;
    text-align: center;
}

.paperTitle {
    text-align: center;
}
.month {
    width: 1rem;
}