.mainContainer {
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap-reverse;
}

.budgetContainer {
    width: 65%;
    min-width: 600px;
    padding-right: 1rem;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

.table > thead {
    border-bottom: 1px solid blue;;
}
