.welcome {
    color: var(--royal);
}

.mainContainer {
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.budgetContainer {
    min-width: 75%;
    padding-right: 1rem;
}
.infoContainer {
    min-width: 25%;
}

.month {
    width: 1rem;
}