.paperForm {
    padding: 1rem 2rem 1rem 2rem;
}

.budgetButton {
    margin-top: 0.5rem;
    text-align: center;
}

.paperTitle {
    text-align: center;
}

.circleIcon {
    color: var(--sapphire);
    height: 100%;
}

.options > div > span {
    display: flex;
}

.options > div > span {
    
}

/* .categoryDrop {
} */