.mainContainer {
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.budgetContainer {
    min-width: 75%;
    padding-right: 1rem;
}

.tableContainer {
    overflow: scroll;
    min-width: 100%;
}

.cellDescription {
    max-width: 1rem;
    word-break: break-all;
}

/* .table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
} */

/* table head */
/* .table > thead > tr > th{ 
    border: 1px solid gray;
    background: var(--royal);
    color: white;
} */

/* table rows */
/* .table > tbody > tr > td {
    border: 1px solid purple;
    text-align: center;
} */

.month {
    width: 1rem;
}