:root {
  --royal: #03256C;
  --denim: #2541B2;
  --sapphire: #1768AC;
  --off: #f5fafc;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--off);
  font-family: "Roboto";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
