@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
  --royal: #03256C;
  --denim: #2541B2;
  --sapphire: #1768AC;
  --off: white;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--off);
  font-family: "Roboto";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
