:root {
  --royal: #03256C;
  --denim: #2541B2;
  --sapphire: #1768AC;
  --off: #f5fafc;
}
html,
body {
  padding: 0;
  margin: 0;
  background: var(--off);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background: var(--sapphire);
}