.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    max-height: 64px;
    background: var(--sapphire);
}

.logo {
    max-height: 50px;
    height: 35px;
    display: flex;
    flex-direction: row;
    
    justify-content: left;
    align-items: center;
}

.brand {
    height: 35px;
    transition: 100ms;
}

.brand:hover {
    height: 40px;
    margin: 2px;
}