.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    max-height: 64px;
    background: var(--sapphire);
}

.unorderedList {
    list-style: none;
    display: flex;
    align-items: center;
    min-height: 5vh;
    max-height: 50px;

}

.unorderedList > li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    transition: 150ms;
    color: white;
}

.unorderedList > li:hover {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
}

.logo {
    max-height: 50px;
}

.logoContainer {
    display: flex;
    align-items: center;
    min-height: 5vh;
    max-height: 50px;
}

.brand {
    height: 35px;
    margin: 2px;
    transition: 300ms;
}


.brandName {
    color: white;
    font-size: 20px;
    padding-left: 5px;
    transition: 300ms;
}

.logoContainer:hover > .brand {
    height: 40px;
}

.logoContainer:hover > .brandName {
    font-weight: 500;
    font-size: 22px;
}