.paper {
    margin-bottom: 1rem;
}

.topDataContainer {
    display: flex;
    justify-content: space-around;
}

.data {
    display: flex;
    flex-direction: column;
    /* justify-content: center;doesnt work */
    align-items: center;
}

.dataTitle {
    margin: 1rem 0 0 0;
}

.dataType {
    margin: 1rem 0 0 0;
}