.paper {
    margin-bottom: 1rem;
}

.topDataContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 0 0.75rem 0;
    justify-content: space-around;
}

.data {
    display: flex;
    flex-direction: column;
    /* justify-content: center;doesnt work */
    align-items: center;
    margin: 0.5rem;
}

.dataTitle {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.25rem;
}

.dataType {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

#debt {
    color: #dd0202;
}

#income {
    color: green;
}